./env
env
*.log
*.tmp
.DS_Store
node_modules/
dist/
build/
.vscode/
.idea/
*.swp
*.bak
*.old
*.cache
*.env
*.local
coverage/
*.pyc
__pycache__/
*.class
*.jar
*.war
*.iml
*.ipr
*.iws
out/
*.exe
*.dll
*.so
*.dylib
*.obj
*.pdb
*.lib
*.obj
*.log
.env
__pycache__/
.env
node_modules/
pdfs/
env/
.ipynb_checkpoints/
.git
venv/
