scrapy
itemadapter
requests
beautifulsoup4
pdfplumber
pandas
urllib3
numpy
sentence-transformers
nltk
scikit-learn
torch
google-generativeai
python-dotenv
Pillow
pdf2image
huggingface_hub
sentence-transformers
torch
transformers
torch
accelerate
sentencepiece
supabase
python-dotenv
fastapi
uvicorn
supabase
unidecode
